<h1 class="ui center aligned header">Know of any free food on Northeastern's campus?</h1>
<h3 class="ui center aligned header">Text 347-983-5292 saying you found food at Northeastern in Curry, r302</h3>

<% @northeastern.buildings.each do |building| %>
  <table id="centered" class="ui table segment">
    <thead>
      <tr><th><%= building.name %></th></tr>
    </thead>
    <tbody>
    <% building.rooms.each do |room| %>
      <% if room.has_food? %>
        <tr class="positive"><td><%= room.name %></td></tr>
      <% else %>
        <tr class="negative"><td><%= room.name %></td></tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
<% end %>

<h1 class="ui center aligned header">Want to eat free food at Northeastern?</h1>
<h3 class="ui center aligned header">Text the number and say you're hungry at Northeastern.</h3>